<!doctype html>
<head>
<style>
body {
    background-color: #916C80;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: "Times New Roman";
    font-size: 20px;
}
</style>
</head>
<title>FizzBuzz Cola</title>
<link rel=stylesheet type=text/css href='style.css') }}">
<div class=page>
	<h1>7madakingAnd jianaQueen.com /hackering</h1>
	<h2>{% block title %}{% endblock %}</h2>
  	<div class=metanav>
		<div class="g-signin2" data-onsuccess="onSignIn"></div>
		<a href="{{ url_for('inventory') }}">inventory</a> || <a href="{{ url_for('login') }}">log in</a> || <a href="{{ url_for('logout') }}">log out</a>
  	</div>
	{% for message in get_flashed_messages() %}
	<div class=flash>{{ message }}</div>
	{% endfor %}

	{% block body %}{% endblock %}
</div>